#Alan Humberto Moesgen Saavedra A01379149
class boleto:
  def __init__(self, costo, avion, premium):
    self.costo=costo
    self.puerta=avion.puerta
    self.destino=avion.destino
    self.avion=avion
    self.premium=premium
    self.dueno="no tiene dueno"

  def comprarboleto(self, persona):
    if ((self.dueno)!=("no tiene dueno")):
      print("ese boleto ya fue comprado")
    elif (persona.dinero<self.costo):
      print("no hay fondos")
    elif((self.avion.asientos)<=(0)):
      print("no hay asientos libres")
    else:
      if(persona.equipaje==0 or persona.equipaje.peso<=20):
        self.dueno=persona
        persona.dinero=(persona.dinero)-(self.costo)
        self.avion.asientos=(self.avion.asientos)-1
      else:
        print("el equipaje es demasiado pesado")
            
    
class avion:
    def __init__(self, destino, puerta, asientos):
        self.destino=destino
        self.puerta=puerta
        self.asientos=asientos

    def __str__(self):
        return f"destino:{self.destino}  puerta:{self.puerta}  asientos:{self.asientos}"
    
class persona:
    def __init__(self, dinero):
        self.dinero=dinero
        self.equipaje=0

class equipaje:
    def __init__(self, peso):
        self.peso=peso
        


avion1=avion("china",2,50)
avion2=avion("mexico",3,10)
boleto1=boleto(500,avion1,1)
boleto2=boleto(50,avion2,0)
persona1= persona(1000)
persona2= persona(200)

print(avion1)#los datos iniciales del avion
print(avion2)
boleto1.comprarboleto(persona2) #persona2 no tiene dinero para comprar boleto1
print(boleto1.dueno)            #no tiene dueno ya que no se pudo comprar
boleto2.comprarboleto(persona2) #persona2 tiene dinero para comprar boleto2 que es barato
print(boleto2.dueno)            #si se compro y tiene dueno
boleto1.comprarboleto(persona1) #persona1 tiene dinero para boleto1
print(boleto1.dueno)


print(avion1)#ahora hay menos asientos ya que se ocuparon al comprar boletos
print(avion2)

boleto3=boleto(300,avion1,0)
persona3=persona(500)
equipaje1=equipaje(30)
persona3.equipaje=equipaje1
boleto3.comprarboleto(persona3) #no puede comprar el boleto3 porque trae equipaje pesado

persona4=persona(1000)
equipaje2=equipaje(10)
persona4.equipaje=equipaje2
boleto1.comprarboleto(persona4) #no puede comprar boleto1 porque ya fue comprado
boleto3.comprarboleto(persona4) #compra boleto3 porque trae equipaje lijero y no se ha comprado
print(boleto3.dueno)
